* {
  box-sizing: border-box;
}

:root {
  --main-color: #2c3e50;
}

body {
  background: hsla(0, 0%, 95%, 0.602);
}

img {
  width: 100%;
  height: 220px;
}

.container {
  display: block;
  width: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--main-color);
  height: 90px;
  padding: 25px;
  color: white;
  margin-bottom: 2rem;
}

.App-title {
  font-family: monospace;
  font-size: 2.5em;
  margin: 0 auto;
}

h2 {
  font-family: monospace;
  font-size: 2rem;
  margin-top: 0;
}

/* REPOSITORIES.JS CSS */

.row {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-basis: content;
  flex-direction: column;
  justify-items: right;
  width: max-content;
}

.repoText {
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.repoPreList {
  padding: 10px;
}

.repoList {
  background-color: #acacaa;
  display: block;
  border: solid black 1px;
  margin-bottom: 10px;
  height: max-content;
}

.repoTitle {
  padding: 10px 15px;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: monospace;
  word-break: break-all;
}

.repoButton {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0.5em;
  border: 0.3em solid rgba(255, 255, 255, 0);
  background-color: var(--main-color);
  box-sizing: border-box;
  transition: all 0.2s;
  margin-bottom: 0.6em;
}

.repoButton:hover {
  border-color: var(--main-color);
  background-color: #fff;
  cursor: pointer;
}

.repoButton a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.repoButton a:hover {
  color: var(--main-color);
}

/* FORM STYLES*/

/* FORM INPUT */

input.form__input {
  font-size: 1rem;
  height: 30px;
  text-align: center;
}

.form__input,
textarea {
  background: #acacaa;
  color: var(--main-color);
  font-weight: bold;
}

/* FORM SEARCH BUTTON */

.form__button {
  display: inline-block;
  position: relative;
  top: -2px;
  padding: 0.5em 1.5em;
  margin: 0 0.1em 0.1em 0.5em;
  border: 0.25em solid rgba(255, 255, 255, 0);
  background-color: #e05252c5;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.form__button:hover {
  border-color: var(--main-color);
  border: 0.25em solid var(--main-color);
  background-color: #8f1313c0;
  cursor: pointer;
}

/* REPOSITORY.JS CSS */

.Commit-Container {
  padding: 0;
  margin: 0;
  display: flex;
}

.active-repo {
  position: relative;
  margin: 0 auto;
  background-color: var(--main-color);
  color: #fff;
}

.Repo_img {
  position: relative;
  top: 10px;
  left: 10px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

/* .commits {
  background-color: green;
} */

.CommitList {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  border-bottom: solid #acacaa 3px;
  font-family: monospace;
}

.CommitList:nth-child(1) {
  border-top: solid #acacaa 3px;
}

.CommitList .AuthorName {
  position: relative;
  left: 80px;
  top: -42px;
}

.CommitList>.date {
  position: relative;
  left: 80px;
  bottom: 20px;
  /* top: 100px; */
}

.CommitList .messageHeader {
  position: relative;
  left: 50px;
  top: -20px;
  font-size: 1.3em;
}

.CommitList .CommitMessage {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 7px;
  width: 75%;
  position: relative;
  left: 30px;
  top: -20px;
  margin-top: 2px;
  font-size: 1.1em;
  width: 80%;
}

.repoList__btn {
  position: relative;
  top: 0.45rem;
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0 0.1em 1.1em 0.5em;
  border: 0.25em solid #fff;
  background-color: #e05252c5;
  border-radius: 2em;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.repoList__btn:hover {
  border-color: var(--main-color);
  border: 0.25em solid gray;
  background-color: #8f1313c0;
  cursor: pointer;
}

.repoList__btn a {
  text-decoration: none;
  color: #fff;
}

/* For mobile phones: */

@media only screen and (min-width: 600px) {

  /* For tablets: */
  body {
    display: flex;
    justify-content: space-evenly;
  }

  .App-title {
    font-size: 2.1em;
  }

  .repoList {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    /* justify-content: center; */
  }

  @media only screen and (min-width: 768px) {

    /* For desktop: */
    body {
      display: flex;
      justify-content: space-evenly;
    }

    .App-title {
      font-size: 2.1em;
    }
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px */

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */
  .repoPreList {
    padding: 0;
    padding-right: 10px;
    margin: 0 auto;
  }

  .App-header {
    position: relative;
    right: 5px;
  }

  .active-repo {
    max-width: 99%;
    bottom: 5px;
    right: 5px;
  }

  .CommitList .CommitMessage {
    width: 80%;
  }

  .form__button {
    position: relative;
    top: -2px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */

  .repoPreList {
    margin: 0 auto;
    min-width: 300px;
    padding: 0;
  }

  .App-header>.App-title {
    font-size: 2em;
    position: relative;
    bottom: 10px;
  }

  .repoList {
    max-width: 300px;
    display: inline-block;
  }

  .form__input {
    margin-bottom: 10px;
  }

  .CommitList .CommitMessage {
    width: 80%;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}